<% cache(@user) do %>

<h2><%= @user.name.titleize %> projects</h2>

<table class="table-main">
  <tr class="table-header">
    <th>Name</th>
    <th>Scheduler Mode</th>
    <th>Last Scanned</th>
    <th>Last Scheduled</th>
    <th colspan="3">Action</th>
  </tr>

<% @user.projects.each do |project| %>
  <tr class="<%=  cycle('list-line-odd','list-line-even')%>">
    <td><%= link_to project.name, edit_user_project_path(project.user_id, project) %></td>
    <td><%= project.scheduler_mode %></td>
    <td align="center"><%= project.last_scanned_at.nil? ? 'Never' : link_to(project.last_scanned_at, report_user_project_path(project.user_id, project)) %></td>
    <td align="center"><%= project.last_scheduled_at.nil? ? 'Never' : project.last_scheduled_at %></td>
    <td><%= link_to 'Scan Now', scan_user_project_path(project.user_id, project), :remote => true, id: 's_' + project.id.to_s %></td>
    <td><%= link_to 'Edit', edit_user_project_path(project.user_id, project), id: 'e_' + project.id.to_s %></td>
    <td><%= link_to 'X', user_project_path(project.user_id, project), 
            data: { confirm: 'Are you sure?' }, method: :delete, id: 'd_' + project.id.to_s %></td>
  </tr>
<% end %>
  <tr><td colspan="7" align="right"><%= link_to 'New Project', new_user_project_path(@user) %></td></tr>
</table>

<br />

<% end %>